{% extends "layout.html" %}
{% block content %} 
    <div class="content-section">
      <div class="media">
        <img class="img-fluid" height="325px" width="325px" src="{{ url_for('static', filename='club_image/' + club.image_file) }}" style="margin: 15px 15px 15px 15px">
        <div class="media-body">
          <h1 class="display-1">{{ club.name }}</h2>
          <p > <strong>Email: </strong>{{ club.email }}</p>
          <p > <strong>Contact Number: </strong>{{ club.contact }}</p> 

          {% if current_user.is_authenticated %}
             {% if current_user.club_id != club.id %}
              <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
                  Join Club
                </button>
              {% endif %}
          {% endif %}
          <br>

            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Join Club</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Submit request to join <strong>{{ club.name }} </strong>?
                  </div>
                  <div class="modal-footer">
                    <form method="POST" action=""> 
                         {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div> 
            {% if current_user.is_authenticated %} 
              {% if current_user.club_id == club.id %}
                  {% if (current_user.role == 'president') or (current_user.role == 'vice_president') or (current_user.role == 'secretary') %}
                  <br>
                  <div class="form-group">
                
                      <form method="POST" action="{{ url_for('add_activity', club_id=club.id) }}">
                        <div class="input-field">
                          {{ form.edit(class="btn btn-primary") }}
                        </div>
                      </form> 
                   
                  </div>
                  {% endif %}
              {% endif %}
            {% endif %}

        </div>
      </div>
    </div>  

    <div class = "container">
    <div class="row">
      <div class="col-8"> 
            <h1 style="font-size:33px; font-family:Verdana; text-align:center;"> Recent Club Activities </h1>
            {% for activity in activities %} 
                {% if activity.club_id == club.id %}
                  <figure class="item" style="display:inline-block">
                    <a class="black-text" href="{{url_for('static', filename= 'activity_image/' + activity.image_file)}}"
                      data-size="1600x1067">
                      <img alt="picture" class="center" src="{{ url_for('static', filename= 'activity_image/' + activity.image_file) }}"
                        class="img-fluid" style="margin: 15px 15px 15px 15px"  height="325px" width="325px">
                      <h3 class="text-center" style="display:block">{{ activity.name }} </h3>
                        <h5 class="text-center" style="display:block">{{ activity.date_posted }} </h5>
                    </a>
                  </figure>
                {% endif %}
              {% endfor %}
        </div>
        <div class="col-4"> 
              <h1 style="font-size:32px; font-family:Verdana; text-align:center;"> Members </h1> 
              <ul class="list-group">
                {% for user in club.people %} 
                     <li class="list-group-item">{{  user.firstname }} </li>       
                 {% endfor %}
              </ul> 
        </div>
      </div>
    </div> 

{% endblock content %}