{% extends "layout.html" %}
{% block content %}
	<div>
		<h1 class="display-5" style="margin-left:25px;font-family: Roboto Slab">Forums</h1>
		<br>
		
		<a class="btn btn-info" href="{{ url_for('forum.add_post')}}" role="button" style="margin-left:25px;margin-bottom:40px;heght:200px;width:200px;float:right;">New Post</a>	
		<!-- <button type="button" class="btn btn-primary btn-sm" style="margin-left:25px;margin-bottom:40px;">New Post</button> -->
		
	</div> 


    
        <article class="media content-section w-95">
          
          <div class="media-body">
          	{% for post in posts.items %}
          	<div class = "content-section w-25 p-1" style="margin:0 auto;margin-bottom:20px">
	            <div class="article-metadata">
                <img class="rounded-circle img-fluid" height="25px" width="25px" src="{{ url_for('static', filename='profile_picture/' + post.author.image_file) }}" style="margin-right:0px">
	              <a class="mr-2" href="#" style="color:black">{{ post.author.firstname }} {{post.author.lastname}}</a>
	              <small class="text-muted">{{ post.date_posted }}</small>
	            </div>
	            <p><a class="article-title" href="{{ url_for('forum.post', post_id=post.id) }}">{{ post.title }}</a></p>
          	</div>
          	{% endfor %}
          </div> 

          
        </article>
        <div class="col text-right">
              {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                {% if page_num %}
                  {% if posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="{{ url_for('forum.forums', page=page_num) }}" style=>{{ page_num }}</a>
                  {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('forum.forums', page=page_num) }}">{{ page_num }}</a>
                  {% endif %}
                {% else %}
                  ...
                {% endif %}
              {% endfor %}
            </div>
    
{% endblock content %}