{% extends "layout.html" %}
{% block content %}
    <div class="content-section  w-75 p-3" style="margin:0 auto">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ url_for('static', filename='profile_picture/' + student.image_file) }}">
        <div class="media-body">
          <h2 class="account-heading" >{{ student.firstname }} {{ student.lastname }} </h2>
          <p class="text-secondary" style="margin-left:5px;">{{ student.email }}</p> 
          {% if current_user.is_authenticated %} 
          	{% if current_user.id == student.id %}
          		<a class="btn btn-outline-info" href="{{url_for('users.change_image', id=current_user.id)}}" role="button" style="margin-bottom:0px;width:150px;">Update Image</a>
          	{% endif %}
          {% endif %}
        </div> 
    	</div>

    </div>
    <br>
   <div class="content-section  w-50 p-2" style="margin:0 auto">
		<div class="list-group  w-50 p-2" style="margin:0 auto"> 
			<h1 class="display-9 text-center" style="font-family:Sriracha">My Clubs</h1>
			{% if student.role != 'member' %}
	 			<a href="{{ url_for('clubs.club_detail', club_id=myclub.id) }}" class="list-group-item" style="color:black"> <img class="rounded-circle img-fluid" height="125px" width="125px" src="{{ url_for('static', filename='club_image/' + myclub.image_file) }}" style="margin-right:10px">{{ myclub.name }} -> <strong>{{student.role.upper()}}</strong> </a>
			{% else %}
				{% for club in student.clubs %}
		 			<a href="{{ url_for('clubs.club_detail', club_id=club.id) }}" class="list-group-item " style="color:black"> <img class="rounded-circle img-fluid" height="125px" width="125px" src="{{ url_for('static', filename='club_image/' + club.image_file) }}" style="margin-right:10px">{{ club.name }}  -> <strong>{{student.role.upper()}}</strong> </a>
				{% endfor %}
			{% endif %}
			
		</div> 
	</div>



{% endblock content %}